body {
  margin: 0;
  padding: 0;
  background: #151515 url("../img/bkg.png") 0 0;
  color: #eaeaea;
  font: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.container {
  width:98%; 
  margin:0 auto;
}

section {
  display: block;
  margin: 0 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

/* Table */

#maintable{width: 100%}  

table {
   width: 100%;
   margin:0 auto;
	font-size:11px;
	border-collapse: collapse;
  
}

thead{
    background: #151515 url("../img/bkg.png") 0 0;
}

table td, table th {
  border: 1px dashed #b5e853;
  text-align:center; 
   padding: 5px 5px;
  }

table td {
 font-size:16px;
 font-weight:bold
 padding: 5px 5px;
 height:25px;
vertical-align:center;
}

table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

.tHeader {
}
.tRow { font-size:11px; }
#Pagination {font-size:11px; display: inline-block; cursor: hand;}
#Pagination a {cursor: hand;}
.no-pag {color: #acacac;}

/* .container {overflow-x: auto;} */
/* #yourDiv {min-width: 600px} */

.tooltip {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: #ffffff;
}

.tooltip span {
   display: none; 
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 1024px) {}
@media only screen and (max-width: 1000px) {
        .hidecolumn{
            display: none;
        }
        

.tooltip {
    outline: none;
    color: #ffffff;
    pointer-events: auto;
    cursor: help; 
    text-decoration: none;
    position: relative;
}
.tooltip span {
    display: initial;
    margin-left: -999em;
    position: absolute;
}
.tooltip:hover span {
    border-radius: 5px 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); 
    -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    font-size:11px;
    /*font-family: Calibri, Tahoma, Geneva, sans-serif; */
    position: absolute; 
    left: 1em; 
    top: 2em; 
    z-index: 99;
    margin-left: 0; 
    width: 200px;
}

.classic { padding: 0.8em 1em; }
* html a:hover { background: transparent; }
.classic {background: rgba(0, 0, 0, 0.8); border: 1px solid #b5e853; }
}
